# Музыка и радио
adv/*
radio/*

# TOKEN аккаунта Yandex
/token.txt

# Конфигурационный файл
/conf.ini

# Рабочая среда
/.idea

# Ридми в docx и txt
/readme.docx
/readme.txt
token.txt
__pycache__/radio.cpython-39.pyc
